body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    background-color: #1F2937;
}

.header {
    
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: 0px;
}

.links ul {
    display: flex;
    gap: 1rem;

}

.links li {
    list-style: none;
}

.landing {
   display: flex;
   justify-content: center;
  

}

.texts {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    padding: 4rem;
}

.texts h1 {
    font-size: 48px;
    color: white
}

.texts h2 {
    font-size: 18px;
    color: #E5E7EB;
}

.landing img {
    width: 30rem;
    padding: 3rem;
    border-radius: 50%;
}

.landing button {
    background-color: #3882f6;
    border: none;
    color: white;
    width: 5rem;
    height: 2rem;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

.info h1 {
    text-align: center;
    padding-top: 3rem;


}

.info {
    height: 24rem;
}
.cards {
    display: flex;
    padding: 1rem 9rem 1rem 9rem;
    justify-content: center;
    margin: 1rem 7rem 1rem 7rem;
    gap: 1rem;
    
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    
}


.info h1 {
    font-size: 36px;
}
.card img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.card h2 {
  width: 10rem;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;

}

.quot {
    padding: 5rem 25rem 0 25rem;
    
}

.quote h2 {
    font-size: 18px;
    text-align: right;
    padding: 0 25rem 5rem 0px;
}

.last {
    height: 22rem;
    width: auto;
}


.bluspace {
    display: flex;
    background-color: #3882F6;
    height: 12rem;
    width: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    margin: 6rem 12rem 6rem 12rem;
    color: white;
    border-radius: 20px;
}

.bluspace h1 {
    font-size: 35px;
    padding: 0;
}

.bluspace p {
    position: relative;
    top: -20px;
}

.bluspace button {
    background-color: #3882F6;
    border-color: white;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
    color: white;
    border: solid 2px;
    position: relative;
    left: -180px;
    
}

.footer {
    background-color: #1F2937;
    display: flex;
    color: white;
    justify-content: center;
}
.footer a {
    text-align: center;
}
